* {
    padding: 0;
   
    margin-bottom: 0;
    box-sizing: content-box;
    position: fixed;
}


.wrapper {
    position: relative;
    margin: 1.5%;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.colorpicker {
    position: absolute;
    z-index: 2;
}

.scrolltext {
    margin-left: 5vw;
    margin-top: 0.5vh;
    position: absolute;
    width: 25vw;
    z-index: 0;
    user-select: none;
}
